.post {
	width: 100%;
	border-radius: 10px;
	box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
	margin-bottom: 20px;
}

.postWrapper {
	padding: 10px;
}

.postTop {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.postTopLeft {
	display: flex;
	align-items: center;
}

.postProfileImg {
	width: 32px;
	height: 32px;
	border-radius: 50%;
	object-fit: cover;
}

.postUsername {
	font-size: 15px;
	font-weight: 500;
	margin: 0 10px;
}

.postDate {
	font-size: 12px;
}

.postTopRight {
	position: relative;
}

.moreVertIcon {
	cursor: pointer;
	border-radius: 50%;
	padding: 4px;
}

.moreVertIcon:hover {
	background-color: #efefef;
}

.postTopRightActions {
	position: absolute;
	right: 10px;
	padding: 14px;
	width: 120px;
	background-color: white;
	box-shadow: 0px 0px 16px -8px rgba(0, 0, 0);
	border-radius: 5px;
}

.postTopRightActions div {
	cursor: pointer;
	margin: 12px 0;
	color: #444;
	font-size: 15px;
	font-weight: bold;
}

.postCenter {
	margin: 20px 0 0 0;
}

.postImg {
	margin-top: 20px;
	width: 100%;
	max-height: 500px;
	object-fit: contain;
}

.postBottom {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 20px 0 0 0;
}

.postBottomLeft {
	display: flex;
	align-items: center;
}

.likeIcon {
	width: 24px;
	height: 24px;
	margin-right: 5px;
	cursor: pointer;
}

.postLikeCounter {
	font-size: 15px;
}

.postCommentActions {
	cursor: pointer;
}

.postCommentText {
	cursor: pointer;
	border-bottom: 1px dashed gray;
	font-size: 15px;
}

.postCommentsDisplay {
	margin: 10px 0 0 0;
}

.postCommentsWrapper {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin: 10px 0 0 0;
}

.postCommentsBody {
	padding: 10px;
	margin-right: 10px;
	background-color: #eee;
	border: none;
	border-radius: 20px;
}

.postCommentsBodyName {
	font-size: 13px;
	font-weight: bold;
	color: #333;
}

.postCommentsBodyText {
	font-size: 15px;
	color: #333;
}

.postCommentsBodyDelete {
	font-size: 13px;
	font-weight: bold;
	color: #333;
	cursor: pointer;
}

.postCommentsSubmit {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin: 10px 0 0 0;
}

.postCommentsImage {
	width: 32px;
	height: 32px;
	margin-right: 10px;
	border-radius: 50%;
	object-fit: cover;
	align-self: flex-start;
}

.postCommentsSubmitForm {
	flex-grow: 1;
}

.postCommentsSubmitInput {
	width: 100%;
	height: 32px;
	padding: 10px;
	background-color: #eee;
	border: none;
	border-radius: 30px;
}

.postCommentsSubmitInput:focus {
	outline: none;
}
