.editPost {
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.8);
	display: flex;
	align-items: center;
	justify-content: center;
}

.editPostWrapper {
	padding: 20px;
	width: 600px;
	background-color: white;
	box-shadow: 0 12px 28px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.1),
		inset 0 0 0 1px rgba(255, 255, 255, 0.5);
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	border-radius: 10px;
}

.editPostHeader {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.closeEditPost {
	font-weight: bold;
	cursor: pointer;
}

.editPostInput {
	padding: 10px;
	margin: 15px 0;
	font-size: 16px;
	user-select: text;
	max-width: 600px;
	border: 1px solid #666;
	border-radius: 5px;
}

.editPostImgContainer {
	position: relative;
	margin-bottom: 10px;
}

.editPostImg img {
	max-height: 400px;
	max-width: 100%;
	width: auto;
}

.editPostImgChange {
	position: absolute;
	top: 0;
	right: 0;
	padding: 5px 8px;
	background-color: black;
	color: #fff;
	border-radius: 5px;
	cursor: pointer;
	font-size: 14px;
	font-weight: 500;
}

.editPostImgLabel {
	cursor: pointer;
}

.editPostButton {
	border: none;
	padding: 7px;
	border-radius: 5px;
	background-color: #1877f2;
	font-size: 14px;
	font-weight: 500;
	cursor: pointer;
	color: white;
}
